<div class="col-md-8 col-xs-8">
	<div class="panel panel-default">
		<% if @couch.id!=nil %>
			<div class="panel-heading">
				<h1>Edite su couch!</h1>
			</div>
			<div class="panel-body">
<%= form_for :couch, url: couch_path(@couch), method: :patch do |f| %> 
				 <p> 
		<%= f.label :Descripción %><br>
    		<%= f.text_field:descripcion %>
 				 </p>
 
  <p>
  		  <%= f.label :Capacidad %><br>
  		  <%= f.text_field:capacidad %>
  </p>
 <p>
		<%= f.label :Tipo %><br>
		<%= f.collection_select :tipo_id, Tipo.all, :id, :tipo, :selected => @couch.tipo_id  %>
	
</p>


		
 <div class="actions col-md-2 col-sm-2">
		 <p>
    <%= f.submit %>
  </p>
</div>
	 <% end %>
			
			
			</div>
		<% end %>
	</div>

</div>

