<div class="col-md-8 col-xs-8">
	<div class="panel panel-default">
		<% if @couch.id!=nil %>
			<div class="panel-heading">
				<%= image_tag @couch.foto.url(:original) ,title:'Couch-img' ,class:'img-responsive center-block' %>
			</div>
			<div class="panel-body">
				<p> Tipo de Couch: <%= Tipo.find(@couch.tipo_id).tipo %>
				<p>	Descripción <%= @couch.descripcion %> </p>
				<p>	Capacidad: <%= @couch.capacidad %>	</p>
				<p>	Ciudad: <%= @couch.ciudad %>	</p>


				<p>	Calificacion: <%= (@couch.punt * 1.0)/@couch.cant  %> / 10</p>
				<p>	______________________________________	</p>
						<p> Dueño: <%= User.find(@couch.user_id).nombre %></p>                            
				<p>		Reputacion: <%= (User.find(@couch.user_id).punt * 1.0)/User.find(@couch.user_id).cant  %> / 10</p>








			<% if  current_user!=nil and current_user.id==@couch.user_id  %>
				 <div class="actions col-md-2 col-sm-3">
						<%= link_to "Editar  ",edit_couch_path(@couch.id),class:'btn btn-default' %>
						
						<%= link_to 'Eliminar', couch_path(@couch),method: :delete, data: { confirm: '¿Está seguro?' }, class:'btn btn-danger' %>
				</div>
	 		<% else %>		
				<%= link_to "Reservar",edit_reserva_path(@couch),class:'btn btn-default' %>
			<% end %>
		</div>
		<% end %>
	</div>
	<% if user_signed_in? %>
		<% if flash[:question] %><div class="alert alert-warning"> <%= flash[:question] %> </div><% end %>
		<%= form_for :question, :url => { :controller => "questions", :action => "create"} do |f| %>

			<%= f.hidden_field :couch_id, :value=>@couch.id%>
		
			<div class="form-group">
				<%= f.label "Haz una pregunta" %><br />
				<%= f.text_field :contenido, autofocus: true,class:'form-control input-large', rows:3 %>
			</div>

			<%= f.submit "Aceptar", class:'btn btn-default' %>				
		<% end %>
	<% end %>
	<br></br>
	
	<% Question.all.each do |q| %>
		<% if q.couch_id == @couch.id %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<p> <%= q.contenido %> <p>		
				</div>
				<div class="panel-body">			
					<% if (q.check == false && current_user.id == @couch.user_id) %>
							<% if flash[:answer] %><div class="alert alert-warning"> <=% flash[:answer] %> </div><% end %>
							<%= form_for :answer, :url => { :controller => "answers", :action => "create"} do |f| %>

								<%= f.hidden_field :pregunta_id, :value=>q.id%>
		
								<div class="form-group">
									<%= f.label "Responde" %><br />
									<%= f.text_field :contenido, autofocus: true,class:'form-control input-large', rows:3 %>
								</div>

								<%= f.submit "Aceptar", class:'btn btn-default' %>				
							<% end %>
					<% else %>
						<% if Answer.find_by_pregunta_id(q.id) %>
							<%= Answer.find_by_pregunta_id(q.id).contenido %>
						<% end %>					
					<% end %>				
				</div>
			</div>
		<% end %>		
	<% end %>

</div>
