<div class="col-md-8 col-sm-8">

	<h1> Reserva </h1>

	<%= form_for :reserva, url: reservas_path do |f| %>
	
				<% if @reserva.errors.any? %>
					<div class="alert alert-danger">
					  <h6>Problemas en el registro:</h6>
					  <ul>
					  
						<li><h6>La salida no puede ser igual o menor que el ingreso</h6></li>
					  
					  </ul>
					</div>
				<% end %>

	
		<%= f.label :Ingreso %><br>
		<%= f.date_select :ingreso, :order => [:day, :month, :year], :start_year=>Date.today.year %>
	
		<br></br>

		<%= f.label :Salida %><br>
		<%= f.date_select :salida, :order => [:day, :month, :year], :start_year=>Date.today.year, class:'selectpicker'%>

		<br></br>

		<%= f.submit "Aceptar", class:'btn btn-primary' %>

	<% end %>

</div>

