<nav class="navbar navbar-default">
	<div class="col-md-8 col-xs-8">
		<%= link_to root_path do %>
			<%= image_tag "Logo.png",title:"CouchInn",class:"img-responsive" %>
		<% end %>
	</div>
	<div class="col-md-4 col-xs-4 text-center bottom-align-text">
		<% if user_signed_in? %>
			<%= link_to "Cerrar Sesión", destroy_user_session_path, method:'delete' , class:'btn btn-default' %>
			<%= link_to "Editar Cuenta", edit_user_registration_path , class:'btn btn-default' %>
			<p class="col-offset">Hola <%= current_user.nombre %></p>
		<% else %>
			<%= link_to "Iniciar Sesión", new_user_session_path , class:'btn btn-default' %>
			<%= link_to "Registrarse", new_user_registration_path , class:'btn btn-default'%>
		<% end %>	
	</div>
</nav>
