<div class="col-md-2 col-xs-3 list-group">
	<% if current_user %>
		<%= link_to "Couches asistidos", new_reserva_path,class:'list-group-item' %>
		<%= link_to "Calificaciones", upuntajes_path,class:'list-group-item' %>
		<%= link_to "Ver reservas", reservas_path,class:'list-group-item' %>
		<% if !current_user.premium %>
			<%= link_to "Hazte Premium", new_premium_path,class:'list-group-item list-group-item-success' %>
		<% end %>
	<% end %>
	
	<%= link_to "Acerca de","#",class:'list-group-item' %>
</div>
